@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rokkitt:wght@300&display=swap');
.font-arial {
    font-family:Arial;
}
.font-rokkitt{
    font-family:'Rokkit',serif;
}
.imghw{
    height:50em;
    width:25em;
}
.cursorPointer {
    cursor:pointer;
}
img{
    height: 35%;
    width: 35%;
}