@{
    ViewData["Title"] = "Галерия";
}<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" integrity="sha384-Gu3KVV2H9d+yA4QDpVB7VcOyhJlAVrcXd0thEjr4KznfaFPLe0xQJyonVxONa4ZC" crossorigin="anonymous" asp-append-version="true">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous">

<div id="mena" class="animate__animated animate__zoomIn container  shadow-lg w-75 border-bottom align-content-center justify-content-center border-top mt-5  mb-5">
    <h1 class="font-rokkitt display-3 mb-5 mt-3 fw-bold  text-center">История</h1>
    <div class="ms-5 me-5 mb-5 font-arial">
        <h4 class="fs-2 font-arial mb-3"><span class="fw-bold">Изкуството</span> на лепенето на плочки или плочки е древна техника, която е използвана в различни култури и цивилизации през хилядолетия. Идеята на плочките е да се използва керамичен или друг материал, който да се постави на пода или стената за декоративни или практически цели.</h4>
        <img src="~/Images/tiles1.jpg" class="d-block ms-auto me-auto w-100 border-2 border-dark border"/>
        <h4 class="fs-2 font-arial mt-4 mb-3"><span class="fw-bold">Първите</span> плочки били произведени от египтяните около 4-ти хил. г. пр. н.е. и са били изработени от глина. Те са използвани за да украсят стени на кралски дворци и за да се правят подове в гробниците. От Египет практиката се разпространила в Месопотамия, където също са били открити древни плочки, изработени от глина.</h4>
        <img src="~/Images/tiles2.jpg" class="d-block ms-auto me-auto w-100 border-2 border-dark border" />
        <h4 class="fs-2 font-arial  mt-4 mb-3"><span class="fw-bold">Следващите</span> големи изобретения в производството на плочки са били направени от гръцките и римските империи. Гръцките плочки са били изработени от мрамор и са имали различни геометрични форми и узори, които са били използвани за да се декорират мозайки и подове. Римляните пък са били майстори на изкуството на лепенето на плочки и са използвали техниката за да декорират множество сгради, фонтани, бани и други обществени места. Римските плочки са били произведени от камък, керамика, стъкло и други материали.</h4>
        <img src="~/Images/tiles3.jpg" class="d-block ms-auto w-100 me-auto border-2 border-dark border" />
        <h4 class="fs-2 font-arial  mt-4 mb-3"><span class="fw-bold">През</span> Средновековието и Ренесанса, плочките са продължили да бъдат използвани за да се декорират църкви, дворци и други голями сгради. През Викторианската епоха, плочките станаха изключително популярни във Великобритания и са били използвани за да се декорират входове на сгради, метростанции, басейни и други места.</h4>
        <img src="~/Images/tiles4.jpg" class="d-block ms-auto me-auto w-100 border-2 border-dark border" />

    </div>
    </div>