<script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous">
<script>
    $(document).ready(function() {
        $("#mena").hide();
        $("#mena").show(500);
    });

</script>
<script type="text/javascript" src="~/js/Uslugi.js" asp-append-version="true"></script>
<div id="mena" class="container shadow-lg w-75 border-bottom border-top mt-5 text-center mb-5">
    
        <h3 class="fs-6 mt-3 text-danger fst-italic">Услугите важат само за Югозападна България и София</h3>
    <h3 class="fs-4 text-danger">Цените са по договаряне</h3>

    <ul id="txt1" style="" class="w-75 list-group list-group-flush display-5 text-start mt-3 mb-5 ms-4">
        <li id="usl1" class="list-group-item"><a data-bs-toggle="collapse" class="text-decoration-none text-black" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample">Лепене на плочки   <i id="bi2" class="bi h2 bi-justify"></i></a> </li>
        <div class="collapse" id="collapseExample2">
            <div class="card display-6 card-body border-end-0 border-start-0">
                Лепенето на плочки включва използването на специално лепило за закрепване на плочки към повърхност, като стена или под.
            </div>
</div>
        <li id="usl2" class="list-group-item"><a data-bs-toggle="collapse" class="text-decoration-none text-black" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample"> Лепене на гранитогрес   <i id ="bi3" class="bi bi-justify h2"></i></a></li>
        <div class="collapse" id="collapseExample3">
            <div class="card display-6 card-body border-end-0 border-start-0">
                Лепене на гранитогрес включва използването на специален клей за прикрепяне на гранитогрес към повърхност, като например стена или под.
            </div>
        </div>
        <li id="usl3" class="list-group-item"><a data-bs-toggle="collapse" class="text-decoration-none text-black" href="#collapseExample4" role="button" aria-expanded="false" aria-controls="collapseExample"> Лепене на камъни по стените   <i id="bi4"  class="bi bi-justify h2"></i></a></li>
        <div class="collapse" id="collapseExample4">
            <div class="card display-6 card-body border-end-0 border-start-0">
                Лепенето на камъни по стените се извършва с цел да се добави декоративен елемент към стената или да се покрие стена с нещо по-устойчиво и дръжко.
            </div>
        </div>
        <li id="usl4" class="list-group-item"><a data-bs-toggle="collapse" class="text-decoration-none text-black" href="#collapseExample5" role="button" aria-expanded="false" aria-controls="collapseExample"> Лепене на стъпала   <i id="bi5" class="bi bi-justify h2"></i></a></li>
        <div class="collapse" id="collapseExample5">
            <div class="card display-6 card-body border-end-0 border-start-0">
                Лепенето на стъпала е процес, при който се използва специален клей за прикрепяне на стъпалата към друга повърхност, като стълби, стени или под.
            </div>
        </div>
        <li id="usl5" class="list-group-item"><a data-bs-toggle="collapse" class="text-decoration-none text-black" href="#collapseExample6" role="button" aria-expanded="false" aria-controls="collapseExample"> Лепене на стаи   <i id="bi6" class="bi bi-justify h2"></i></a></li>
        <div class="collapse" id="collapseExample6">
            <div class="display-6 card card-body border-end-0 border-start-0">
                Облицовката на стая с плочки включва закрепване на плочки към стените, пода или тавана на стаята, за да се подобри нейният външен вид и/или функционалност.
            </div>
        </div>
        <li id="usl6" class="list-group-item"><a data-bs-toggle="collapse" class="text-decoration-none text-black" href="#collapseExample7" role="button" aria-expanded="false" aria-controls="collapseExample"> Зидария   <i id="bi7" class="bi bi-justify h2"></i></a></li>
        <div class="collapse" id="collapseExample7">
            <div class="display-6 card card-body border-end-0 border-start-0">
                Зидарията е процес на изграждане с тухли, бетонни блокове и други видове камък или бетонни елементи.
            </div>
        </div>
        <li id="usl7" class="list-group-item"><a data-bs-toggle="collapse" class="text-decoration-none text-black" href="#collapseExample8" role="button" aria-expanded="false" aria-controls="collapseExample"> Мазилка   <i id="bi8" class="bi bi-justify h2"></i></a></li>
        <div class="collapse" id="collapseExample8">
            <div class="display-6 card card-body border-end-0 border-start-0">
                Мазилката е строителен материал, който се използва за създаване на гладки, твърди повърхности на стени, тавани и други конструкции.</div>
        </div>
        <li id="usl8" class="list-group-item"><a data-bs-toggle="collapse" class="text-decoration-none text-black" href="#collapseExample10" role="button" aria-expanded="false" aria-controls="collapseExample"> Циментова замазка   <i id="bi9" class="bi bi-justify h2"></i></a></li>
         <div class="collapse" id="collapseExample10">
            <div class="card card-body display-6 border-end-0 border-start-0">
    Циментовата замазка е вид подов материал, който се прави чрез смесване на цимент, пясък и вода, за да се създаде гладка, твърда повърхност. Често се използва за създаване на равна основа за подови настилки като плочки, килими или дърво и може да се използва и за създаване на декоративни покрития на подове. </div>
        </div>
        <li id="usl9" class="list-group-item"><a data-bs-toggle="collapse" class="text-decoration-none text-black" href="#collapseExample9" role="button" aria-expanded="false" aria-controls="collapseExample"> Облицовки от гипсокартон   <i id="bi1" class="bi bi-justify h2"></i></a></li>
   <div class="collapse" id="collapseExample9">
  <div class="display-6 card card-body border-end-0 border-start-0">
                Облицовките от гипсокартон, известни също като гипсокартон или листов лист, са листове от гипс, които се използват за създаване на гладки, завършени стени и тавани.
            </div>
</div> </ul>
    </div>